.vega-embed .vega-actions,
.vega-embed details,
.vega-embed summary {
    display: none !important;
}
/* Ensure bar chart does not show pointer */
.js-plotly-plot .draglayer .drag.cursor-pointer {
    cursor: default !important;
}
/* Sidebar transitions */
#sidebar {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%); /* Start off-screen */
}

#sidebar.is-open {
    transform: translateX(0); /* Slides into view */
}
